*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #000000;
}
.navForAdmin{
    background-color: #f12424;
    padding: 20px;
    display: flex;
}
.navForAdmin .menus{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navForAdmin .menus a{
    text-decoration: none;
    color: white;
}
.navForAdmin .logo{

    width:30%;
    color:white;

}

/* previous page
 .FormContent{
    margin-top: 20px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
} */

.FormContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(254, 254, 254);
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


input{
    font-size: medium;
    padding: 10px;
    width: 300px;
    border: 1px solid #F2F3F5;

}
form{
    margin-top:10px;
}
input[type='submit']{
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: #f12424;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.FormContent a button{
    font-size: medium;
    padding: 6px;
    width: 315px;
    background-color: #f12424;
    border: none;
    cursor: pointer;
}

.addDelete{
    display: flex;
    justify-content: center;
}
.addProduct a button, .deleteAll a button{
    margin-top: 10px;
    padding: 10px 35px 10px 35px;
    font-weight:400;
    font-size:medium;
    box-sizing: border-box;
    background-color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
textarea{
    font-size: medium;
    width: 100%;
    resize: none;
    padding: 6px;
    box-sizing: border-box;
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */
    border: 1px solid #F2F3F5;   
}

.foodLink a{
    text-decoration: none;

}

.AllFoodLinks{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}