* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff; /* Changed text color to white */
    font-size: 16px;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    /* text-align: center; */
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    margin: 0px;
}

#logo {
    max-width: 450px; /* Increase the maximum width */
    width: 100%; /* Ensure the image fills its container */
    height: auto;
    margin-bottom: 20px;
}


/* header h1#brand {
    font-size: 3rem; 
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; 
} 
*/

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #f12424;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.btn:hover {
    background-color: #c61f02;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
