@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: #f12424;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3); 
}

*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    outline: none; border:none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.header_customer{
    background: var(--bg);
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 1.5em 7%;
    border-bottom: var(--border); 
    position: fixed; 
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header_customer .logo img{
    height: 6rem;
    margin-right: 270px;
}

.header_customer .navbarHome {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
    z-index: 10000000000;
}

.header_customer .navbarHome a{
    margin: 0.1rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    z-index: 10000000000;
}

.header_customer .navbarHome a:hover{
    color:var(--main-color); 
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0px;
}

#text_parallax{
    position: absolute;
    font-size: 8em;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2) ;
    top: 29%;
}

.parallax img{
    width: 100%; 
    height: auto;
    object-fit: cover; 
    position: absolute;
    top:-25%;
    left: 0;
    pointer-events: none;
}

.items{
    position: relative;
    background: #000000;
    padding: 20%;
    display: block;
}

.items h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}
.items p{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.container_burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container_burger .card_burger{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container_burger .card_burger:before{
    content: ".";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #f12424;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container_burger .card_burger:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.container_burger .card_burger::after{
    content: "Burger";
    position: absolute;
    top: 30%;
    left: 0%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.burger-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    z-index: 1;
}

.container_burger .card_burger .imgBx_burger{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container_burger .card_burger:hover .imgBx_burger{
    top:0%;
    transform: translateY(0%);
}

.container_burger .card_burger .imgBx_burger img{
    position: absolute;
    top: -30%;
    left: 10%;
    transform: translate(-40%, -40%) rotate((-25deg));
    width: 270px;
}

.container_burger .card_burger .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 12;
}

.container_burger .card_burger:hover .contentBx{
    height: 210px;
}

.container_burger .card_burger .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container_burger .card_burger .contentBx h3{
    color:#fff;
    font-weight: 300;
    font-size: 14;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container_burger .card_burger .contentBx span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0.5px;
    transition: 0.5s;
    color:#111;
}

.container_burger .card_burger .contentBx span:hover{
    background: #f12424;
}

.container_burger .card_burger a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    position: absolute;
    bottom: 10%;
    left:37%; 
}

.container_burger .card_burger:hover a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.navForRider{
    background-color: #f12424;
    padding: 20px;
    display: flex;
    font-weight: bold;
    font-size: medium;
}

.navForRider .logo{
    color:#fff;
}

.menuTitles{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-left: auto;
}
.menuTitles a{
    text-decoration: none;
    color: white;
}

.sendToMenu{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

}
.sendToMenu p{
    font-size: large;
    margin-bottom: 7px;

}
.sendToMenu a button{
    padding: 15px 40px 15px 40px;
    font-weight: bold;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    color: white;
    background-color: #f12424; 
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */
}

.filter{
    margin-left: 20px;
}
.filterPrice button, .filterRating button{
    padding: 7px;
    font-weight: 600;
    margin-top: 5px;
    padding: 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.orders{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
    margin-top: 10%;
}

.orderCard{
    margin: 10px;
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */

}
.orderImage img{
    width: 100%;
}

.orderTitle h2{
    margin-left: 10px;
    color: orange;
    font-weight:500;
}
.orderPrice{
    font-weight:400;
    font-size: large;
    margin-left: 10px;
}
.orderRating{
    font-weight:400;
    font-size: 14px;
    margin-left: 10px;
}
.orderButton{
    text-align: center;
    margin-bottom: 5px;
}
.orderButton a button {
    font-weight: 600;
    padding: 12px;
    width: 95%;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #f12424;
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.editDel{
    display: flex;
    flex-direction: row;
}
.editBtn a button, .delBtn a button{
    width: 95%;
    font-weight: 600;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #f12424;
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.editBtn, .delBtn{
    width: 100%;
    text-align: center;
}


.error{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foodReviews{
    display: flex;
    flex-direction: column;
}
.reviews{
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.product{
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.productContent{
    width: 100%;
    float: right;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    height: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.productContent button{
    width: 20%;
    height: 40px;
    position: absolute;
    bottom:auto;
    margin-top: 25px;
    font-weight: 500;
    font-size:medium;
    border: none;
    cursor: pointer;
    background-color: white;
    color: orange;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-left: -20px;
}

.productTitle h1{
    width: 50%;
    font-weight: 400;
}
.descText{
    margin-bottom: 5px;
    width: 60%;
    color: #a1a1a1;
    font-size:larger;
    font-weight: 500;
}
.productDesc p{
    width: 50%;
    font-size:17px;
}
.productPrice p{
    margin-top: 5px;
    font-size: x-large;
    color: #f12424;
}
.productImage{
    float: left;
    width: 35%;
    margin-right: 20px;
    position: relative;
}
.productImage img{
    width: 100%;
    border-radius: 3px;
}

.AccountContent{
    margin-top: 10%;
    margin-bottom: 20px;
    display : flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
}
.accountHeading{
    text-align: center;
    margin-bottom: 20px;
    color: #f12424;
}

.firstLastName p, .username p, .useremail p, 
.userpassword p, .userphone p, .useraddress p{
    margin-left: 50px;
    width: auto;
    font-size: medium;
    padding: 10px;
    width: 300px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    border: 1px solid #F2F3F5;
    margin-bottom: 12px;
}

.accountLabel{
    margin-left: 50px;
    font-size: large;
    font-weight:500;
}
.userCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:10px;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.userSec1, .userSec2{
    margin-left: 40px;
    margin-right: 40px;
}


.firstLast p, .Uusername p, .Uuseremail p, 
.Uuserpassword p, .Uuserphone p, .Uuseraddress p{
    font-size: medium;
    padding: 10px;
    width: 200px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    border: 1px solid #F2F3F5;
    margin-bottom: 12px;
}
.userlabel{
    font-size: large;
    font-weight:500;
}
.userCard h3{
    color:#f12424;
    text-decoration:underline;
}
.product form .quantity{
    width: 40px;
}
.product form input{
    font-size: medium;
    padding: 10px;
    width: 300px;
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */
    border: 1px solid #F2F3F5;

}
.product form input[type='submit']{
    color: white;
    border: none;
    background-color: #f12424;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 325px;
}
.paymentInfoAndTotal{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}
/* we have to change its width */
/* orderDetails Page */

.orderDetails{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    margin-top: 10%;
}
.detailCard{
    margin-top: 10px;
    padding: 25px 50px 25px 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.orderId{
    text-align: center;
    color: orange;
    text-decoration: underline;
    font-size: 1.17em;
    font-weight: bold;
}

.Singledetail{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.foodDetailHeadings{
    font-size: large;
    font-weight: 500;
}
.Ftitle p, .Fprice p, .Fquantity p, .orderedDate p, .orderAmount p, .payNumber p{
    width: auto;
    font-size: medium;
    padding: 10px;
    width: 200px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    border: 1px solid #F2F3F5;
    margin-bottom: 12px;
}
.orderedImg{
    width: 20%;
}
.orderedImg img{
    width:100px;
}

.reviewButton button{
    text-align: center;
    font-weight: 600;
    padding: 12px;
    width: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.reviewButton{
    text-align: center;
}

.ReviewFood{
    margin-top: 20px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
}
input{
    font-size: medium;
    padding: 10px;
    width: 300px;
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */
    border: 1px solid #f12424;
}

input[type='submit']{
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: #f12424;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

textarea{
    font-size: medium;
    width: 100%;
    resize: none;
    padding: 6px;
    box-sizing: border-box;
    /* border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px; */
    border: 1px solid #F2F3F5;   
}

.mark_As_Done button{
    text-align: center;
    font-weight: 600;
    padding: 12px;
    width: 95%;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}
.mark_AND_remove{
    display: flex;
    justify-content: center;
    align-items: center;

}
.removeOrder button{
    text-align: center;
    font-weight: 600;
    padding: 12px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mark_delivered_or_pending{
    display: flex;
    justify-content: center;
    align-items: center;

}

.chooseOrder button{
    text-align: center;
    font-weight: 600;
    padding: 12px;
    width: 95%;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
} 






