{% extends 'base.html' %}

{% block title %}Account{% endblock title %}

{% block body %}
<div class="AccountContent">
    <h2 class="accountHeading">ACCOUNT INFO</h2>
    <div class="firstLastName">
        <span class="accountLabel">
            Full Name:
        </span>
        <p>{{ customer[3] }} {{ customer[4] }}</p>
    </div>
    <div class="username">
        <span class="accountLabel">
            Username:
        </span>
        <p>{{ customer[2] }}</p>
    </div>
    <div class="useremail">
        <span class="accountLabel">
            Email:
        </span>
        <p>{{ customer[7] }}</p>
    </div>
    <div class="userpassword">
        <span class="accountLabel">
            Password:
        </span>
        <p>{{ customer[5] }}</p>
    </div>
    <div class="userphone">
        <span class="accountLabel">
            Phone No:
        </span>
        <p>{{ customer[1] }}</p>
    </div>
    <div class="useraddress">
        <span class="accountLabel">
            Address:
        </span>
        <p>{{ customer[6] }}</p>
    </div>
</div>

{% endblock body %}